* {
    margin: 0;
    padding: 0
}
em,i {
    font-style: normal
}
li {
    list-style: none
}
a{
    font: 14px/24px Microsoft YaHei,Arial,\\5B8B\4F53,Arial Narrow;
    letter-spacing: 1.2px;
    color: #666;
    text-decoration: none
}
a:hover {
    color: #c81623 ;
}

img {
    border: 0;
    vertical-align: middle
}
input{
    outline: none;
}
button {
    cursor: pointer;
    border:none;
    outline: none;
}

.clear_fix:after{
    content: '';
    display: block;
    clear: both;}
    
a,a:hover,a:active{text-decoration: none;color: #222222;}

.down-arrow{
	display: inline-block;
	height: 0;
	width: 0;
	border: 3px solid transparent;
	border-top-color: #999;
	position: absolute;
	top:7px;
	right:9px;
	
}